.alert-div {
    margin: 5px;
    padding: 10px;
    background-color: lightpink;
    color: floralwhite;
    border-radius: 10px;
}

.alert-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close-btn:hover {
    color: black;
}